################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/example_tree_burning_720
